.inicio{
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-position:bottom;
}

#conteudoinicio{
    padding-top: 500px;
    padding-bottom: 250px;
}
